html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  background-color: #303030;
  color: white;
}

body {
  margin-top: 10vh;
  padding: 0 5vh 0 5vh;
  font-family: "Roboto", sans-serif;
  background-color: #303030;
  color: white;
}

#title {
  grid-area: header;
  justify-self: center;
}

#tries {
  grid-area: tries;
  justify-self: center;
}

#break {
  border: 0;
  grid-area: break;
  width: 15%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-self: center;
}

#game {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "break"
    "tries";
}

.letter {
  height: 50px;
  width: 50px;
  border: #d3d3d3 solid 3px;
  background-color: #303030;
  text-transform: uppercase;
  font-weight: bold;
}

.correct {
  background-color: #538d4e;
  color: white;
}

.wrong-position {
  background-color: #b59f3b;
  color: white;
}

input {
  font-size: 20px;
  text-align: center;
  caret-color: transparent;
}

.word {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}
